body {
  margin: 0;
  font-family: 'PT Serif', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url(../src/assets/image/wall.jpg) no-repeat center center fixed;
  background-size: cover;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', '',
    monospace;
  }
  .ico-about-nav {
    font-size:25px!important;
  }
  .ico-home-nav{
    font-size:25px!important;
  }
  .ico-gallery-nav{
    font-size:25px!important;
  }
  .ico-menu-nav{
    font-size:25px!important;
  }
  .ico-menu-nav{
    font-size:25px!important;
  }
.nav-brand {
    width: 40px;
    height: 30px;
    width:40px;
    margin-top:15px;
    margin-left: 20px!important;
    justify-content:left;
    display: flex;
    margin-bottom: 5px;
    margin-left:10px;
  }
.span-logo {
  margin: 0 5px;
  font-size: 20px;
  font-weight: bold;
  color:#716558;
}
.nav-menu {
  position: fixed;
  left: -100%;
  top: 70px;
  flex-direction: column;
  background-color: rgba(0,0,0,.9);
  width: 100%;
  height: 90vh;
  z-index: 999;
  text-align: center;
  transition: .9s;
}
.nav-menu.active {
  left: 0;
}
.nav-item {
  margin: 1.5rem 0;
  list-style-type: none!important;
}
.nav-item > a {
  color:#2eab65!important;
  font-family: 'Vujahday Script', cursive;
  font-size: 35px;
  font-weight: bold;
  text-decoration:none;
}
.nav-item > a:hover {
color: #716558!important;
}
.btn.navbar-toggler {
  margin-right: 20px;
  font-size: 20px;
  color:#2eab65;
  background-color: #716558;
  border-radius: 50%;
  padding: 5px;
}

.chocho_spot{
  width:100%;
  height:auto;
  border-top:3px solid #716558;
  margin-top: 0;
}
.container-fluid.food-lottie {
  margin: 0 auto;
  margin-top:-10px;
  margin-bottom: -30px;
}

.ico-menu {
  width: 20px!important;
  height: auto;
  margin-top:30px
}

/* JAMBUTRON ABOUT US */

.jumbotron.jumbotron-fluid.about-img {
  width: 100%;
  height: 50vh;
  margin-top: 30px;
  display: flex;
  background-image: url("./assets/image/food_1.jpg");
  background-color:#58804a00!important ;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position:relative;
}
.about-title {
  font-size: 30px!important;
  color:black;
  font-family: 'Vujahday Script', cursive;
  font-weight: bold;
  display: flex;
  justify-content: center;
  text-align: center;
  text-decoration:double;
  margin-bottom:30px; 
}
.about-text {
  font-size: 14px!important;
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  align-items: center;
  -moz-justify-content: space-around;
  -webkit-justify-content: space-around;
  -ms-justify-content: space-around;
  justify-content: center;
  margin-top:6%;
  color:white;
  font-family: 'Spectral', serif;
  background-color:rgba(12, 1, 1, 0.52) ;
  padding:0.3rem;
  letter-spacing: 1px;
}
.gallery-title {
  margin: 20px auto!important;
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: 'Vujahday Script', cursive;
  font-weight: bold;
  font-size: 30px;
}
.container-gallery {
  margin-top:23px;
}
.col.col-gallery {
  margin-top:15px;
  margin-bottom:15px;
  display: flex;
  justify-content: center;
}

.jumbotron.jumbotron-fluid.menu-download {
  width: 100%;
  height: 80vh;
  margin-top: 90px;
  display: flex;
  background-image: url("./assets/image/rice.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover;
  position:relative;
}
.btn.btn_download {
margin: 30px auto;
display: flex;
position: relative;
}
.menu-text  {
  font-size: 22px!important;
  margin-top: 10%;
  color:white;
  font-family: 'Vujahday Script', cursive;
  background-color:rgba(12, 1, 1, 0.52) ;
  padding: 2rem;
  text-align: center;
  letter-spacing: 1px;
}
.btn.btn_download {
  color:white;
  background-color: #0c6839;
  width: 230px;
  height: auto;
  position: relative;
  justify-content: center;
  margin: 3% auto;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1px;
  text-decoration: none;
  padding: 7px; 
}
.btn-download-text {
  text-align: center;
  text-decoration:none;
  font-weight: bold;
  font-family: 'Spectral', serif;
} 
.btn-download-text :hover {
  color: #2eab65!important;
  text-decoration: underline;
}
.qr_code {
  width: 260px;
  height: auto;
  display:flex;
  position: relative;
  justify-content: center;
  margin: 20% auto;
  border-radius: 5%;
  background-image:url("./assets/image/wall.jpg");
  background-position: center;  
  background-repeat: no-repeat;
  background-size:cover;
  padding: 20px;
  border: #716558 10px solid;
}
.ico-pdf {
  width: 20px!important;
  height: auto;
}
.ico-menu {
  width: 35px!important;
  height: auto;
}
.ico-gallery {
  width: 30px!important;
  height: auto;
}
.ico-about {
  width: 25px;
  height: auto;
}
.social {
  float: left;
  margin-left: -20px!important;
  margin-top:10px;
}
.link{
  margin-right: 10px;
}
.ico-facebook {
  width: 45px;
  height: auto;
  color: dodgerblue;
}
.ico-linkedin {
  width: 45px;
  height: auto;
}
.ico-instagram {
  width: 45px;
  height: auto;
  color:rgb(201, 44, 148);
}
.container.container-info {
width: 100%;
margin:60px auto!important;
position: relative;
justify-content: center;

}
.contact-title-card {
text-align: center;
margin-bottom: 15px!important;
font-size: 35px!important;
font-family: 'Vujahday Script', cursive;
font-weight: bold;
}
.hours-days > li {
  font-weight: bold;
  font-family:'Spectral', serif;
  font-size: 18px;
}
.card-title {
  font-size: 25px;
  font-weight: bold;
  font-family:'Spectral', serif ;
  margin-bottom: 15px!important;
}
.map {
  width:333px;
  height:350px;
}
.container-fluid.obento-lottie {
  width: 100%;
  height: auto;
}
.container-fluid.container-footer {
  width: 100%;
  height: 100px;
  background-color: black;
  margin-top: 50px;
  border-top: #716558 6px solid;
}
.copyright {
  color: white;
  font-size: 12px;
  margin-top: 30px;
  font-family:'Spectral', serif ;
  justify-content: center;
} 





/* Media For 992px */


@media (min-width: 992px) { 

  .ico-pdf {
    width: 14px!important;
    height: auto;
  }
  .ico-menu {
    width: 38px!important;
    height: auto;
  }
  .ico-gallery {
    width: 25px!important;
    height: auto;
  }
  .ico-about {
    width: 30px!important;
    height: auto;
  }
  .ico-calendar {
    width:30px!important;
    height: auto;
  }
  .ico-about-nav {
    font-size:30px!important;
  }
  .ico-home-nav{
    font-size:30px!important;
  }
  .ico-gallery-nav{
    font-size:30px!important;
  }
  .ico-menu-nav{
    font-size:30px!important;
  }
  .ico-menu-nav{
    font-size:30px!important;
  }

  
.cho_written_logo {
    width: 90px !important;
    height: 50px!important;
    margin-top: -10px;
}
.span-logo {  
  margin:-5px 12px;
  color:#716558;
  font-size:30px; 
  font-weight:bold;
}
.nav-brand {
  width: 320px;
  margin-top:0px;
  justify-content: left;
  display: flex;
}
.nav-header{
  width:130px;
}
.chocho_spot{
  width:100%;
  height:auto;
  border-top:3px solid #716558;
}
.btn.navbar-toggler {
  color:#2eab65;
  font-size:25px;
  background-color: #716558;
  border-radius: 45%;
  padding: 7px!important;
}
.header {
  position: fixed;
  height: 70px;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  transition: 1.0s ease-in;
  overflow: hidden;
  background-color: rgba(0,0,0,.8);
  border-bottom-left-radius: -30%;
}

.header .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1240px;
  margin: auto;
  height: 100%;
  padding: 0 1rem;
}




.header .nav-menu {
  display: flex;
}

.header .nav-item {
  padding: 1rem;
  font-weight: 500;
}

.header .nav-item a:hover {
  padding-bottom: 12px;
  border-bottom: 3px solid var(--secondary-color);
}
.chocho_spot{
    border-bottom:5px solid #716558;
  }
.about-title {
    font-size: 50px!important;
    margin-top: 5%!important;
    color:black;
    font-family: 'Vujahday Script', cursive;
    min-width: 26px;
}
.container-fluid.food-lottie {
  margin: 0 auto;
  margin-top:-10px;
  margin-bottom: -70px;
}
.about-text {
  font-size: 28px!important;
  margin-top: 3%;
  color:white;
  min-width: 15px;
  background-color:rgba(12, 1, 1, 0.52) ;
  padding: 0.8rem;
  letter-spacing: 1px;
  font-family: 'Spectral', serif;
}
.col.col-gallery {
  margin-top:50px;
  margin-bottom:15px;
  display: flex;
  justify-content: center;
  margin:0 auto!important
;
}
.gallery-title {
  margin:30px auto!important;
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: 'Vujahday Script', cursive;
  font-weight: bold;
  font-size: 50px;
}
.jumbotron.jumbotron-fluid.menu-download {
  width: 100%;
  height:60vh;
  margin-top: 90px;
  display: flex;
  background-image: url("./assets/image/rice.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover;
  position:relative;
  
}

.menu-text  {
  font-size: 50px!important;
  margin-top: 4%;
  color:white;
  font-family: 'Vujahday Script', cursive;
  background-color:rgba(12, 1, 1, 0.52) ;
  padding: 0.6rem;
  text-align: center;
  justify-content: center;
}
.btn.btn_download {
  color:white;
  width: 230px;
  height:45px;
  background-color: #0c6839;
  margin-top: 2%;
  font-weight: bold;
  font-size: 18spx;
  text-align: center;
}
.qr_code {
  width: 280px;
  height: auto;
  display:flex;
  position: relative;
  justify-content: center;
  margin: 2% auto;
  box-shadow: none;
  border-radius: 5%;
  background-image:url("./assets/image/wall.jpg");
  padding: 5px;
  border: #716558 6px solid;
}
.container.container-info {
  width: 100%;
  margin:40px auto!important;
  position: relative;
  justify-content: center;
  border-bottom: none;
  border-bottom: #716558 8px solid;
  }
  .contact-title-card {
  text-align: center;
  margin-bottom: 30px;
  font-size: 50px!important;
  font-family: 'Vujahday Script', cursive;
  font-weight: bold;
  }
  .map {
    width:420px;
    height:330px;
  }
  .card-title {
    margin-left:12px;
  }
  .hours-days > li {
    font-weight: bold;
    font-family:'Spectral', serif;
    font-size: 18px;
   margin-left:10px;
  }

  .street {
    font-weight:700;
    font-size: 18px;
    text-align:left;
  }
  .copyright {
    color: white;
    font-size: 15px;
    margin-top: 30px;
    font-family:'Spectral', serif ;
    justify-content: center;
    text-decoration: black;
  }
}
